.container-principal{
  border: 1px solid black;
  display: flex;
  flex-flow:row wrap ;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.name-atraccion{
  text-align: center;
}
  
  h1 {
    color: #800080;
  }
  
  h2 {
    color: #800080;
  }
  
  .detalles-img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
  }
  

  
  .mapeado-conteiner{
    flex-grow: 1;
  }
  
  .map {
    width: 100%;
    height: 100%;
  }
  
  p {
    color: #800080;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #800080;
    padding: 1px;
  }
  
 
  
  a {
    color: #800080;
  }
  .barra-sup{
    max-width: 100%;
    width: 100%;
    height: 100%;
  }