  .container-principal{
    border: 1px solid black;
    display: flex;
    flex-flow:row wrap ;
    justify-content: center;
    align-content: center;
  }
  
  .card {
    width: 20%; /* Ancho deseado para cada tarjeta, puede ajustarse según tus necesidades */
    margin-bottom: 2%; /* Espacio entre las tarjetas */
    height: 20%;
    margin: 2%;
  }

  .card img {
    height: 200px; /* Altura deseada para las imágenes */
    object-fit: cover; /* Ajuste de la imagen para mantener su relación de aspecto */
  }

.direccions{
  text-align: center;
}
  .simple{
      background-color: #663399;
      color: #ffffff;
      font-size: 16px;
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;;
      transition: background-color 0.3s ease;
      border-radius: .5em;
      margin: 2px;
    }
    .simple:hover {
    background-color: #512da8;
  }
  .botones-sup{
   display: flex;
   justify-content: center;
  }
  #microphone{
    background-color: #663399;
      color: #ffffff;
      font-size: 16px;
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;;
      transition: background-color 0.3s ease;
  }
  #microphone:hover{
    background-color: #512da8;
  }
  .barrabuscaora2{
    display: none;
  }
  .botones-atraccions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
.texth3{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
  font-size: calc(0.7rem + .6vw);
}
section#barra-superior {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: baseline;
}
div#buscadores {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin-left: 10px;
    margin-right: 10px
}
section#section-botones {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}